[master]
${master_hostname} ansible_host=${master_public_ip}

[workers]
%{ for index, ip in worker_public_ips ~}
worker-${index + 1} ansible_host=${ip}
%{ endfor ~}

[all:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/id_rsa
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no'